* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --bg: #444;
  --road-bg: #555;
  --green-bg: #89f5aa;
  --green-shadow: #4dcda9;
  --blue-bg: #89e6f5;
  --blue-shadow: #4d98cd;
  --border: grey;
  --border-hightlight: lightgrey;
}

h1,
h2,
h3 {
  color: white;
  font-weight: 700;
}

h3 {
  font-weight: 100;
}

.logo {
  margin-left: auto;
  font-style: italic;
  text-shadow: -4px 2px var(--bg), -5px 3px var(--green-bg), -8px 4px var(--bg),
    -9px 5px var(--green-shadow);
}

/******************************
  * Button - Default Style
  *******************************/

button,
.href-btn {
  position: relative;
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  min-width: 100px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;

  color: #222;
  transition: color 0.25s ease-in;
}

.href-btn {
  text-decoration: none;
  font-size: 14px;
}

button:hover,
.href-btn:hover {
  color: white;
}

/******************************
  * Input Color - Default Style
  *******************************/

input[type='color'],
input[type='text'] {
  border: none;
  background: transparent;
}

input[type='color'] {
  cursor: pointer;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type='color']::-webkit-color-swatch {
  border: 2px solid var(--border);
  border-radius: 4px;
}

input[type='color']::-webkit-color-swatch:hover {
  border: 2px solid var(--border-hightlight);
}

/******************************
  * Body
  *******************************/

body {
  background: var(--bg);
  font-family: 'Nunito Sans', sans-serif;
}

main {
  width: 90%;
  margin: 0 auto;
}

/******************************
  * Nav bar
  *******************************/

nav {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.green-btn {
  border-bottom: 3px solid var(--green-shadow);
  background: linear-gradient(45deg,
      var(--green-bg) 0%,
      var(--green-shadow) 100%);
}

.blue-btn {
  border-bottom: 3px solid var(--blue-shadow);
  background: linear-gradient(45deg,
      var(--blue-bg) 0%,
      var(--blue-shadow) 100%);
}

.blue-btn[disabled],
.blue-btn:disabled {
  background: #888;
  border-color: #777;
  pointer-events: none;
}

.move-btn {
  background: transparent;
  min-width: 45px;
}

.play-btn {
  border: 2px solid #54a56ca8;
  color: #54a56ca8;
}

.play-btn.active,
.play-btn:hover {
  border: 2px solid var(--green-bg);
  color: var(--green-bg);
}

.stop-btn {
  border: 2px solid #a55460a8;
  color: #a55460a8;
}

.stop-btn.active,
.stop-btn:hover {
  border: 2px solid #f7677c;
  color: #f7677c;
}

/******************************
  * Settings Section
  *******************************/

.settings-section {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 10px;
}

.color-section,
.other-settings,
.car-options-select {
  display: flex;
  gap: 10px;
}

#create-name-display,
#update-name-display {
  min-width: 210px;
  border-radius: 2px;
  background: white;
  padding: 5px;
}

.color-section input[type='color'] {
  min-width: 100px;
  height: auto;
}

#generate-btn {
  min-width: 210px;
}

/******************************
  * Garage Section
  *******************************/

.garage-section {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  gap: 10px;
}

.road-bg {
  position: relative;
  width: 100%;
  background: url('assets/noise.jpg') #424242;
  background-repeat: repeat;
  background-size: 400px;
  background-blend-mode: hard-light;
}

.road-bg::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--road-bg);
  opacity: 0.95;
}

#winner-message {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2.5em;
  color: #fff;
  font-weight: 600;
  z-index: 999;
  transform: translate(-50%, -50%);
  text-shadow: -4px 4px var(--green-shadow);
}

.car-section {
  position: relative;
  height: 155px;
  border-top: 4px solid #fffc;
}

.car-options-select {
  margin-top: 10px;
  align-items: center;
}

.car-name {
  color: yellow;
  font-weight: 500;
}

.road-bg:last-child {
  border-bottom: 4px solid #fffc;
}

.finish-line {
  position: absolute;
  top: 0;
  left: 90%;
  bottom: 0;
  right: 0;
  width: 20px;
}

.checkered {
  background-position: 0px 0px, 10px 10px;
  background-size: 20px 20px;
  background-image: linear-gradient(45deg,
      black 25%,
      transparent 25%,
      transparent 75%,
      black 75%,
      black 100%),
    linear-gradient(45deg,
      black 25%,
      white 25%,
      white 75%,
      black 75%,
      black 100%);
  z-index: 2;
  opacity: 0.95;
}

.car-svg {
  position: absolute;
  left: 0%;
  bottom: 10px;
  z-index: 99;
  filter: drop-shadow(-4px 6px 2px #0004);
}

@media screen and (max-width: 1020px) {
  .car-svg {
    width: 75px;
  }
}

@media screen and (max-width: 580px) {
  .car-svg {
    width: 50px;
  }

  .logo {
    margin: 0 auto;
    order: -1;
  }

  nav {
    flex-direction: column;
  }

  .color-section {
    flex-wrap: wrap;
  }

  .color-section * {
    min-height: 31px;
    flex-grow: 1;
    flex-basis: 0;
  }

  .color-section input[type='color'] {
    height: revert;
  }

  #generate-btn {
    flex-grow: 1;
    min-width: initial;
  }
}

/******************************
  * Winners Section
  *******************************/
.page-container h2 {
  margin-top: 40px;
}

table.winners-list {
  margin: 20px 0 0 0;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 3px;
  background-color: #636363;
  /* background-image: linear-gradient(226deg, #636363 51%, #444 100%); */
  box-shadow: -4px 2px #3e3e3e, -5px 3px var(--green-bg), -8px 5px var(--bg),
    -9px 6px var(--green-shadow);
}

table.winners-list thead {
  background: linear-gradient(45deg,
      var(--green-bg) 0%,
      var(--green-shadow) 100%);
}

table.winners-list thead th:nth-child(1) {
  width: 10%;
}

table.winners-list thead th:nth-child(2) {
  width: 25%;
}

table.winners-list thead th:nth-child(3) {
  width: 25%;
}

table.winners-list thead th:nth-child(4) {
  width: 10%;
}

table.winners-list tbody tr {
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.fix-car .car-svg {
  position: relative !important;
  bottom: 0;
  padding: 10px;
}

#sort-id,
#sort-wins,
#sort-time {
  cursor: pointer;
}


/******************************
  * Animation
  *******************************/
@keyframes drive {
  0% {
    left: 0%;
  }

  100% {
    left: 90%;
  }
}